<!-- NAV -->
<nav class="navbar navbar-expand-md navbar-light py-4">
        <div class="container">
                <nav class="navbar">
                        <a class="navbar-brand" href="{{ site.baseurl }}/">
                          <img src="{{site.baseurl}}/img/logo.png" width="170" height="75" alt="">
                        </a>
                      </nav>
          <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a href="{{ site.baseurl }}/" class="nav-link">Home</a>
              </li>
              <li class="nav-item">
                <a href="{{ site.baseurl }}/about/" class="nav-link">About</a>
              </li>
              <li class="nav-item">
                <a href="{{ site.baseurl }}/portfolio/" class="nav-link">Portfolio</a>
              </li>
              <li class="nav-item">
                <a href="{{ site.baseurl }}/blog/" class="nav-link">Blog</a>
              </li>
              <li class="nav-item">
                <a href="{{ site.baseurl }}/archive/" class="nav-link">Archive</a>
              </li>
              
            </ul>
          </div>
        </div>
      </nav>